.predictions-container {
    max-width: 1600px;
    overflow-x: hidden;
    padding: 10px;
  }
  
  .predictions-table {
    width: 1400px;
    border-collapse: collapse;
    margin-bottom: 10px;
    overflow-x: hidden;
  }
  
  .predictions-table th,
  .predictions-table td {
    padding: 8px;
    text-align: left;
  }
  
  @media (max-width: 768px) {
    .predictions-table th,
    .predictions-table td {
      padding: 6px;
      font-size: 14px;
    }
    .predictions-container {
        overflow-x: auto;
        width: 450px;
    }
    .predictions-table {
        overflow-x: auto;
        width: 80%;
    }
  }
  